.nav {
  width: 100nv;
  height: clamp(55px, 8vh, 80px);
  background: #0d1b2a;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 clamp(12px, 3vw, 40px);
  box-shadow: 0 4px 20px rgba(0, 90, 255, 0.15);
}

.btn {
  background: transparent;
  border: 1px solid rgba(0, 140, 255, 0.4);
  color: #fff;

  padding: clamp(6px, 1vw, 10px) clamp(12px, 2vw, 22px);
  border-radius: 8px;

  font-size: clamp(0.8rem, 1.2vw, 1rem);
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: rgba(0, 140, 255, 0.15);
  box-shadow: 0 0 12px rgba(0, 140, 255, 0.4);
}
