.nav {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  background: #0d1b2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 4px 20px rgba(0, 90, 255, 0.15);
}


.left,
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  background: transparent;
  border: 1px solid rgba(0, 140, 255, 0.4);
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: rgba(0, 140, 255, 0.15);
  box-shadow: 0 0 12px rgba(0, 140, 255, 0.4);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

