.container {
  width: min(1200px, 90%);
  margin: 0 auto;        /* هذا هو المهم */
  display: flex;
  flex-direction: column;
  align-items: center;   /* يخلي كل شيء في المنتصف */
  position: relative;
}


.content {
  flex: 1;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.title {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}


@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}
